<template name="buttonPost">
    <a href="/employer/contactpage"><button class="post-button">POST</button></a>
<style>
    /* card button */
    .post-button {
      margin: 15px;
      width: 190px;
      height: 50px;
      font-weight: 100;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 0.1rem;
      border: none;
      border-radius: 100px;
      transition: 0.3s ease-in-out;
      background-color: #fe5652;
    }

    .post-button:focus {
      outline: none;
    }

    .post-button {
      background: #ec5574;
    }

    .post-button:hover {
      background: rgb(50, 50, 50, 1);
    }
    .post-button:hover {
      font-size: 0.8rem;
      cursor: pointer;
    }
</style>
</template>