<template name="otherJobs">
<div style="width: 96%;">
    <br>
    <h2>Other Relevant Jobs</h2>
<div class="hl"></div>

<div class="relevant">
    <a href="#h1id" class="anchor"><h5>KRA Industrial Attachment</h5></a>
    <a href="">
    <h6>KPLC</h6></a>
    <p>Nairobi ,Kenya | Fulltime</p>
</div>
<div class="hl"></div>

<div class="relevant">
    <a href="#h1id" class="anchor"><h5>KRA Industrial Attachment</h5></a>
    <a href="">
    <h6>KPLC</h6></a>
    <p>Nairobi ,Kenya | Fulltime</p>
</div>
<div class="hl"></div>

<div class="relevant">
    <a href="#h1id" class="anchor"><h5>KRA Industrial Attachment</h5></a>
    <a href="">
    <h6>KPLC</h6></a>
    <p>Nairobi ,Kenya | Fulltime</p>
</div>
<div class="hl"></div>

<div class="relevant">
    <a href="#h1id" class="anchor"><h5>KRA Industrial Attachment</h5></a>
    <a href="">
    <h6>KPLC</h6></a>
    <p>Nairobi ,Kenya | Fulltime</p>
</div>
<div class="hl"></div>
</div>

<style>
    h2{
        text-align: center;
    }
    .hl{
        border-top: 1px solid grey;
      opacity: 20%;
    }
    .anchor{
        color: black;
    }
    .relevant{
        padding: 15px;
    }
</style>
</template>