<template name="otherJobs">
<div style="width: 96%;">
    <br>
    <h2>Other Relevant Jobs</h2>
<div class="hl"></div>
{{#each applications}}
<div class="relevant">
    <a href="/postings/{{_id}}" class="anchor">{{jobTitle}}<h5></h5></a>
    <a href="{{contact}}" target="_blank">
    <h6>{{companyName}}</h6></a>
    <p>{{location}} ,Kenya | {{jobType}}</p>
</div>
<div class="hl"></div>
{{/each}}
</div>

<style>
    h2{
        text-align: center;
    }
    .hl{
        border-top: 1px solid grey;
      opacity: 20%;
    }
    .anchor{
        color: black;
    }
    .relevant{
        padding: 15px;
    }
</style>
</template>